#### Removing Data Part II

So, you now have seen how we can fit a model by dropping rows with missing values.  This is great in that sklearn doesn't break! However, this means future observations will not obtain a prediction if they have missing values in any of the columns.

In this notebook, you will answer a few questions about what happened in the last screencast, and take a few additional steps.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
import RemovingData as t
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')

#Subset to only quantitative vars
num_vars = df[['Salary', 'CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]


num_vars.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
0,NaN,NaN,0.0,NaN,9.0
1,NaN,NaN,NaN,NaN,8.0
2,113750.0,8.0,NaN,9.0,8.0
3,NaN,6.0,5.0,3.0,10.0
4,NaN,6.0,NaN,8.0,NaN

#### Question 1

**1.** What proportion of individuals in the dataset reported a salary?

In [5]:
prop_sals = 1 - df['Salary'].isnull().sum()/len(df)# Proportion of individuals in the dataset with salary reported

prop_sals

0.26222385090566436

In [6]:
t.prop_sals_test(prop_sals) #test

Nice job! That looks right!

#### Question 2

**2.** Remove the rows associated with nan values in Salary (only Salary) from the dataframe **num_vars**.  Store the dataframe with these rows removed in **sal_rem**.

In [15]:
df[df.isna()['Salary']]

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Student,"Yes, both",New Zealand,"Yes, full-time","Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Disagree,NaN,A bachelor's degree,White or of European descent,Disagree,Agree,Disagree,Agree,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19096,19097,Professional developer,No,France,No,Employed full-time,Master's degree,Computer science or software engineering,Never,20 to 99 employees,...,Strongly disagree,Male,High school,White or of European descent,Strongly agree,Somewhat agree,Somewhat agree,Somewhat agree,NaN,NaN
19097,19098,Professional developer,"Yes, I program as a hobby",Canada,No,Employed full-time,Bachelor's degree,A business discipline,A few days each month,10 to 19 employees,...,Disagree,Male,"Some college/university study, no bachelor's d...",White or of European descent,Somewhat agree,Agree,Disagree,Agree,NaN,NaN
19098,19099,Student,"Yes, I program as a hobby",India,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19099,19100,Professional non-developer who sometimes write...,"Yes, I program as a hobby",United Kingdom,No,"Independent contractor, freelancer, or self-em...",Bachelor's degree,Computer science or software engineering,Never,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19101,19102,Professional developer,"Yes, I program as a hobby",France,No,Employed full-time,Master's degree,Computer science or software engineering,All or almost all the time (I'm full-time remote),100 to 499 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
sal_rm = num_vars.dropna(subset=['Salary'])# dataframe with rows for nan Salaries removed

sal_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.0,8.0,NaN,9.0,8.0
14,100000.0,8.0,NaN,8.0,8.0
17,130000.0,9.0,NaN,8.0,8.0
18,82500.0,5.0,NaN,3.0,NaN
22,100764.0,8.0,NaN,9.0,8.0

In [21]:
t.sal_rm_test(sal_rm) #test

Nice job! That looks right!

Question 3

**3.** Using **sal_rm**, create **X** be a dataframe (matrix) of all of the numeric feature variables.  Then, let **y** be the response vector you would like to predict (Salary).  Run the cell below once you have split the data, and use the result of the code to assign the correct letter to **question3_solution**.

In [24]:
sal_rm

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.00000,8.0,NaN,9.0,8.0
14,100000.00000,8.0,NaN,8.0,8.0
17,130000.00000,9.0,NaN,8.0,8.0
18,82500.00000,5.0,NaN,3.0,NaN
22,100764.00000,8.0,NaN,9.0,8.0
...,...,...,...,...,...
19079,65000.00000,10.0,0.0,8.0,10.0
19086,80645.16129,10.0,NaN,8.0,10.0
19088,41250.00000,8.0,NaN,8.0,9.0
19089,50500.00000,7.0,30.0,6.0,9.0
19100,110000.00000,8.0,NaN,9.0,9.0

In [25]:
X = sal_rm[['CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]#Create X using explanatory variables from sal_rm
y = sal_rm['Salary']#Create y using the response variable of Salary

# Split data into training and test data, and fit a linear model
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=.30, random_state=42)
lm_model = LinearRegression(normalize=True)

# If our model works, it should just fit our model to the data. Otherwise, it will let us know.
try:
    lm_model.fit(X_train, y_train)
except:
    print("Oh no! It doesn't work!!!")

Oh no! It doesn't work!!!

In [26]:
a = 'Python just likes to break sometimes for no reason at all.' 
b = 'It worked, because Python is magic.'
c = 'It broke because we still have missing values in X'

question3_solution = c

#test
t.question3_check(question3_solution)

Nice job! That's right! Those missing values in the X matrix will still not allow us to predict the response.

#### Question 4

**4.** Remove the rows associated with nan values in any column from **num_vars** (this was the removal process used in the screencast).  Store the dataframe with these rows removed in **all_rem**.

In [27]:
all_rm = num_vars.dropna()# dataframe with rows for nan Salaries removed

all_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
25,175000.000000,7.0,0.0,7.0,9.0
34,14838.709677,10.0,1.0,8.0,10.0
52,15674.203822,6.0,4.0,5.0,8.0
57,43010.752688,10.0,2.0,6.0,10.0
70,65000.000000,8.0,2.0,5.0,7.0

In [28]:
t.all_rm_test(all_rm) #test

Nice job! That looks right.  The default is to drop any row with a missing value in any column, so we didn't need to specify any arguments in this case.

#### Question 5

**5.** Using **all_rm**, create **X_2** be a dataframe (matrix) of all of the numeric feature variables.  Then, let **y_2** be the response vector you would like to predict (Salary).  Run the cell below once you have split the data, and use the result of the code to assign the correct letter to **question5_solution**.

In [30]:
X_2 = all_rm[['CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]#Create X using explanatory variables from sal_rm
y_2 = all_rm['Salary'] #Create y using Salary from sal_rm

# Split data into training and test data, and fit a linear model
X_2_train, X_2_test, y_2_train, y_2_test = train_test_split(X_2, y_2 , test_size=.30, random_state=42)
lm_2_model = LinearRegression(normalize=True)

# If our model works, it should just fit our model to the data. Otherwise, it will let us know.
try:
    lm_2_model.fit(X_2_train, y_2_train)
except:
    print("Oh no! It doesn't work!!!")

In [31]:
a = 'Python just likes to break sometimes for no reason at all.' 
b = 'It worked, because Python is magic.'
c = 'It broke because we still have missing values in X'

question5_solution = b

#test
t.question5_check(question5_solution)

Nice job! That's right! Python isn't exactly magic, but sometimes it feels like it is!

#### Question 6

**6.** Now, use **lm_2_model** to predict the **y_2_test** response values, and obtain an r-squared value for how well the predicted values compare to the actual test values.

In [32]:
lm_2_model.score?

Signature: lm_2_model.score(X, y, sample_weight=None)
Docstring:
Return the coefficient of determination R^2 of the prediction.

The coefficient R^2 is defined as (1 - u/v), where u is the residual
sum of squares ((y_true - y_pred) ** 2).sum() and v is the total
sum of squares ((y_true - y_true.mean()) ** 2).sum().
The best possible score is 1.0 and it can be negative (because the
model can be arbitrarily worse). A constant model that always
predicts the expected value of y, disregarding the input features,
would get a R^2 score of 0.0.

Parameters
----------
X : array-like of shape (n_samples, n_features)
    Test samples. For some estimators this may be a
    precomputed kernel matrix or a list of generic objects instead,
    shape = (n_samples, n_samples_fitted),
    where n_samples_fitted is the number of
    samples used in the fitting for the estimator.

y : array-like of shape (n_samples,) or (n_samples, n_outputs)
    True values for X.

sample_weight : array-like of shape (n_samples,), default=None
    Sample weights.

Returns
-------
score : float
    R^2 of self.predict(X) wrt. y.

Notes
-----
The R2 score used when calling ``score`` on a regressor uses
``multioutput='uniform_average'`` from version 0.23 to keep consistent
with default value of :func:`~sklearn.metrics.r2_score`.
This influences the ``score`` method of all the multioutput
regressors (except for
:class:`~sklearn.multioutput.MultiOutputRegressor`).
File:      d:\users\blickwinkel\anaconda3\lib\site-packages\sklearn\base.py
Type:      method

In [36]:
y_test_preds = lm_2_model.predict(X_2_test)# Predictions here using X_2 and lm_2_model
r2_test = lm_2_model.score(X_2_test, y_2_test) # Rsquared here for comparing test and preds from lm_2_model

# Print r2 to see result
r2_test

0.019170661803762035

In [37]:
t.r2_test_check(r2_test)

Nice job! That's right! Your rsquared matches the solution.

#### Question 7

**7.** Use what you have learned **from the second model you fit** (and as many cells as you need to find the answers) to complete the dictionary with the variables that link to the corresponding descriptions.

In [42]:
a = 5009
b = 'Other'
c = 645
d = 'We still want to predict their salary'
e = 'We do not care to predict their salary'
f = False
g = True

question7_solution = {'The number of reported salaries in the original dataset': a,
                       'The number of test salaries predicted using our model': c,
                       'If an individual does not rate stackoverflow, but has a salary': d,
                       'If an individual does not have a a job satisfaction, but has a salary': d,
                       'Our model predicts salaries for the two individuals described above.': f}
                      
                      
#Check your answers against the solution - you should be told you were right if your answers are correct!                     
t.question7_check(question7_solution)

Nice job! That looks right to me!  We would really like to predict for anyone who provides a salary, but our model right now definitely has some limitations.

In [ ]:
#Cell for work

In [ ]:
#Cell for work